<h1>Unlucky story - New story</h1>
{% include 'AppBundle:Default:nav.html.twig' %}
<hr>
{{ form_start(form) }}
       <table>
            <tr>
               <td>
                    {{ form_label(form.title, 'Title') }} 
                </td>
                <td>
                    {{ form_widget(form.title) }}
                </td>
            </tr>
            <tr>
               <td>
                    {{ form_label(form.content, 'Story') }} 
                </td>
                <td>
                    {{ form_widget(form.content) }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {{ form_widget(form.submit) }}
                </td>
            </tr>
    </table>
{{ form_end(form) }}