<h1>Unlucky story - Home</h1>
{% include 'AppBundle:Default:nav.html.twig' %}
<hr>

{% for story in stories %}
    <h3>{{ story.title }}</h3>
    <p>{{ story.content }}</p>
    <p>{{ story.score }} (<a href="{{ path('story_upvote', {'id': story.id}) }}">Upvote</a> / <a href="{{ path('story_downvote', {'id': story.id}) }}">Downvote</a>)</p>
    <hr>
{% endfor %}