<nav>
    <a href="{{ path('app_home') }}">Home</a> -
    <a href="{{ path('story_add') }}">Add a story</a> -
    <a href="{{ path('app_top') }}">Top 30</a> -
    <a href="{{ path('app_flop') }}">Flop 30</a>
</nav>